{
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "@babel/plugin-transform-runtime"
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ]
}
